header {
  width: 100%;
}

.card {
  height: 175px;
}

.product {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, .45);

  &__infos {
    color: white;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  &__title {
    text-align: center;
    margin: 20px 0;
    color: #000;
    font-weight: bold;
    width: 100%;
  }

  &__card:not(:last-child) {
    margin-right: 25px;
  }
}

.btn_choice {
  padding: 5px 20px;
}

mdb-card-img {
   width: 200px;
 }
