<div class="container-fluid">
  <div fxLayout="row" fxLayoutAlign="center center" style="height: calc(100vh - 64px);">
    <mat-card class="col-6 col-sm-8 col-md-6 col-lg-4 text-center">
      <ngb-alert type="danger" *ngIf="connexionFailed" (close)="connexionFailed = false">
        MDP & IDENTIFIANT INVALID
      </ngb-alert>
      <mat-card-title class="text-center">Se connecter</mat-card-title>
      <mat-card-content>
        <form class="form-content" [formGroup]="loginForm">
          <div>
            <mat-form-field>
                <input matInput placeholder="username" formControlName="username" autocomplete="off" required />
              </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput placeholder="password" formControlName=password type=password autocomplete="off" required />
            </mat-form-field>
          </div>
          <div>
              <button class="mt-3" mat-flat-button (click)="login()" color="warn">Envoyer</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

