<div class="container-fluid">
    <div fxLayout="row" fxLayoutAlign="center center" style="height: calc(100vh - 64px);">
      <mat-card class="col-6 col-sm-8 col-md-6 col-lg-4 text-center">
        <mat-card-title class="text-center">
            <h2>Bienvenue sur votre profil</h2>
        </mat-card-title>
        <mat-card-content>
          <div>

                    <span class="badge">{{user.fname}} {{user.lname}}</span>


          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>


