<section class="profil container d-flex flex-column align-items-center">
  <header>
    <h2 class="text-center m-5">Mon profil</h2>
  </header>
    <mat-card  class="col-8 mb-5">
      <mat-card-title class="text-center mb-3">Informations
        générales</mat-card-title>
      <div>
        <ul>
          <li><span>Prénom: </span>{{ user.fname }}</li>
          <li><span>Nom: </span>{{ user.lname }}</li>
          <li><span>Téléphone :</span>{{ user.phone }}</li>
          <li><span>Email: </span>{{ user.username }}</li>
          <li><span>Ville de résidence: </span>{{ user.city }}</li>
        </ul>
        <div class="w100 text-center">
          <button (click)="showModal = !showModal" class="btn btn-outline-danger">
            Modifier
          </button>
        </div>
      </div>
    </mat-card>
    <app-basic-form class="col-8 mb-5" [(visible)]="showModal">
      <button (click)="showModal = !showModal" class="btn btn-outline-danger basic-close-btn">
        x
      </button>
    </app-basic-form>
</section>