<div fxLayout="row">
  <div class="col p-0 entete">
    <div class="col-3 p-0 text-center logo"></div>
  </div>
</div>
<div class="container-fluid politique">
  <header fxLayoutAlign="center center ">
    <h1 >Politique de confidentialité de vos données personnelles</h1>
  </header>
  <div class="textReg">
    <p>
      La politique énoncée ci-après s’applique aux traitements de données personnelles effectués par
      Olivier Jackel, société OJBento, immatriculée au registre du commerce et des sociétés de
      Bordeaux
      sous le numéro de SIREN ??????, SIRET 82507594800018 depuis le ?? décembre ????,
      ayant son siège social : 3 rue du Général de Gaulle, 33480 Castelnau de Médoc.
    </p>
    <h4>1 – Dispositions générales</h4>
    <p>
      Les dispositions qui suivent concernent tous les traitements de données personnelles effectués
      par Olivier Jackel, ci-dessous désignée : le responsable du traitement, sauf mention contraire
      dans les dispositions spécifiques.
    </p>
    <h6>Cadre juridique – conformité au RGPD et à la loi française</h6>
    <p>
      Le responsable du traitement déclare qu’il effectue des traitements de données personnelles
      conformément au règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016,
      relatif à la protection des personnes physiques à l’égard du traitement des données à caractère
      personnel et à la libre circulation de ces données (ci-après désigné le RGPD) et à loi française
      n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés (modifiée).
    </p>
    <h6>Responsable du traitement </h6>
    <p>
      Le responsable du traitement est identifié ci-dessus. Ses coordonnées sont : Olivier Jackel,
      3, rue du Général de Gaulle, 33480 Castelnau de Médoc. Téléphone : 05-56-69-92-42
    </p>
    <h6>Transfert de données</h6>
    <p>
      Le responsable du traitement n’a pas l’intention d’effectuer un transfert de données à caractère
      personnel vers un pays tiers ou à une organisation internationale.
    </p>
    <h6>Durée de conservation des données à caractère personnel</h6>
    <p>Les données seront conservées pendant une durée de 22 mois à compter de leur collecte .</p>
    <h6>Droits de la personne dont les données sont collectées</h6>
    <p>
      La personne dont les données personnelles sont collectées a le droit :
    </p>
    <ul>
      <li>- de demander au responsable du traitement l’accès aux données à caractère personnel,
        la rectifi¬cation ou l’effacement de celles-ci, ou une limitation du traitement relatif
        à la personne concernée,
      </li>
      <li>- de s’opposer au traitement,</li>
      <li>- à la portabilité de ses données,</li>
      <li>- d’introduire une réclamation auprès d’une autorité de contrôle,</li>
      <li>
        - de retirer son consentement à tout moment, sans porter atteinte à la licéité du traitement
          fondé sur le consentement effectué avant le retrait de celui-ci, ce droit existant
          exclusivement lorsque le traitement est fondé sur l’article 6, paragraphe 1, point a), ou
          sur l’article 9, paragraphe 2, point a) du RGPD, c’est-à-dire sur le consentement de la
          personne concernée au traitement de ses données à caractère personnel pour une ou plusieurs
          finalités spécifiques.
      </li>
    </ul>
    <h6> Prise de décision automatisée – profilage</h6>
    <p>
      Sauf mention contraire dans les dispositions spécifiques, aucun profilage ne sera réalisé et plus
      généralement aucune décision automatisée ne sera prise sur la base des données collectées
    </p>
    <h4>2 – Dispositions spécifiques</h4>
    <p>Les dispositions qui suivent sont spécifiques à chaque type de traitement de données personnelles.</p>
    <h6>Gestion de la relation avec nos contacts </h6>
    <p>Données personnelles traitées – Nous traitons les données personnelles suivantes : prénom, nom, adresse électronique.
      Finalités – Le traitement de données personnelles est destiné à la gestion de la relation avec nos contacts.
      En particulier, ce traitement tend à permettre à la personne concernée d’obtenir des informations
      sur les services proposés par notre organisation.
      Base juridique – Ce traitement de données personnelles est fondé sur le consentement de la personne
      concernée (article 6, paragraphe 1, point a) du RGPD). La demande de données a un caractère
      contractuel. La personne concernée n’est pas tenue de fournir ces données. Si la personne
      concernée ne fournit pas les données ou retire son consentement au traitement de données,
      elle ne pourra pas obtenir de renseignements relatifs aux services proposés par notre organisation.
    </p>
    <h6>Gestion de la relation avec nos clients</h6>
    <p>
      Données personnelles traitées – Nous traitons les données personnelles suivantes : prénom, nom,
      adresse électronique, .
      Finalités – Le traitement de données personnelles est destiné à la gestion de la relation avec
      nos clients. En particulier, ce traitement tend à permettre la prise de rendez-vous en ligne.
      Base juridique – Ce traitement est nécessaire à l’exécution d’un contrat auquel la personne
      concernée est partie ou à l’exécution de mesures précontractuelles prises à la demande de celle-ci.
      Il est fondé sur l’article 6, paragraphe 1, point b) du RGPD. La demande de données a un caractère
      contractuel. La personne concernée est tenue de fournir ces données si elle souhaite bénéficier de
      nos services. Si la personne concernée ne fournit pas les données, elle ne pourra pas prendre
      rendez-vous en ligne.
    </p>
  </div>
</div>