.politique h6{
  color: red;
  font-weight: bold;
}

.politique header{
  color: red;
  font-size : 1.25em;
  margin: 25px;
}

.politique li {
  list-style-type: none;
}

.entete{
  background: url('../../../assets/img/nuit.jpg') center / cover fixed no-repeat;
  height: 25vw;
  width: 25vw;
}

.textReg{
  margin: 50px 75px 50px 75px;
}