<div class="grid" *ngIf="!cartRow.isMenuRow">
  <div class="item-1"></div>
  <div class="item-2">
    <div>
      <button type="button" mdbBtn color="dark"
              mdbWavesEffect size="xs" style="padding: 0; height: 35px; width: 35px;"
              (click)="removeAssoc(cartRow.assoc)"
              [disabled]="cartRow.nbCart < 2">
        -
      </button>
      {{ cartRow.nbCart }}
      <button type="button" mdbBtn color="dark"
              mdbWavesEffect size="xs" style="padding: 0; height: 35px; width: 35px;"
              (click)="addAssoc(cartRow.assoc)">
        +
      </button>
    </div>
  </div>
  <div class="item-3">
    {{ cartRow.assoc.quantity }} {{cartRow.assoc.type.name}}s {{ cartRow.assoc.product.name }}
  </div>
  <div class="item-4">
    <button type="button" mdbBtn color="danger"
            mdbWavesEffect size="xs"
            style="padding: 0; height: 35px; width: 35px;"
            (click)="delete(cartRow)"> x </button>
  </div>
  <div class="item-5"></div>
  <div class="item-6">{{ cartRow.priceAssoc | currency:'EUR':' ':'1.2-2' }} €</div>
  <div class="item-7">{{ getPrice() | currency:'EUR':' ':'1.2-2' }} €</div>
  <div class="item-8"></div>
</div>



<div class="grid" *ngIf="cartRow.isMenuRow">
  <div class="item-1"></div>
  <div class="item-2">
    <div>
      <button type="button" mdbBtn color="dark"
              mdbWavesEffect size="xs" style="padding: 0; height: 35px; width: 35px;"
              (click)="removeMenu(cartRow.menu)"
              [disabled]="cartRow.nbCart < 2">
        -
      </button>
      {{ cartRow.nbCart }}
      <button type="button" mdbBtn color="dark"
              mdbWavesEffect size="xs" style="padding: 0; height: 35px; width: 35px;"
              (click)="addMenu(cartRow.menu)">
        +
      </button>
    </div>
  </div>
  <div class="item-3">
    {{ cartRow.menu.name }}
  </div>
  <div class="item-4">
    <button type="button" mdbBtn color="danger"
            mdbWavesEffect size="xs"
            style="padding: 0; height: 35px; width: 35px;"
            (click)="delete(cartRow)"> x </button>
  </div>
  <div class="item-5"></div>
  <div class="item-6">{{ cartRow.priceMenu | currency:'EUR':' ':'1.2-2' }} €</div>
  <div class="item-7">{{ getPrice() | currency:'EUR':' ':'1.2-2' }} €</div>
  <div class="item-8"></div>
</div>


