<div class="card-product m-5">
  <div class="view view-cascade overlay waves-light" mdbWavesEffect>
    <figure class="product__box">
      <img class="product__img" *ngIf="assoc?.image" src="{{ assoc?.image?.imgpath |imgpath }}">
      <figcaption class="story__caption"
                  *ngFor="let price of assoc.prices">{{price.value}}€</figcaption>
    </figure>
  </div>
  <div cascade="true" class="text-center">
    <h4 class="card-title">
      <strong>{{ assoc.quantity }} {{ type.name }} {{assoc.product.name}}</strong>
    </h4>
    <span *ngIf="isConnected()">
                        <div class="d-flex justify-content-center">
                            <button class="btn_choice less" mdbBtn type="button" color="dark"
                                    [disabled]="disabled()"
                                    (click)="rmv(assoc)"
                                    mdbWavesEffect>-
                            </button>
                             <span class="quantity m-3">{{ getQuantity(assoc) }}
                            </span>
                            <button class="btn_choice more" mdbBtn type="button" color="dark"
                                    (click)="add(assoc)"
                                    mdbWavesEffect>+
                            </button>
                        </div>
                        </span>
  </div>
</div>
