<mat-card>
    <img mat-card-image class="product__img"
         *ngIf="assoc?.image"
         src="{{ assoc?.image?.imgpath |imgpath }}"
         alt="{{ assoc?.image?.alt }}"
         (click)="showDialog = !showDialog">
    <mat-card-content>
        <mat-card-title class="text-center">
            {{ assoc.quantity }} <span *ngIf="type.name !== 'Accompagnement' && type.name !=='Dessert' && type.name !== 'Plats chauds'">{{ type.name }}s </span>{{assoc.product.name}}
        </mat-card-title>
        <mat-card-subtitle class="text-center mb-2">
            {{ getPrice(assoc, 'Standard') }} €
        </mat-card-subtitle>
        <div class="d-flex justify-content-center">
            <button class="btn_choice less" mdbBtn type="button" color="dark"
                    [disabled]="disabled(assoc)"
                    (click)="rmv(assoc)"
                    mdbWavesEffect>-
            </button>
            <span class="quantity m-3">{{ getQuantity(assoc) }}
                            </span>
            <button class="btn_choice more" mdbBtn type="button" color="dark"
                    (click)="add(assoc)"
                    mdbWavesEffect>+
            </button>
        </div>
    </mat-card-content>
    <app-dialog [assoc]="assoc" [type]="type" [(visible)]="showDialog">-->
        <button (click)="showDialog = !showDialog" class="btn">Close</button>
    </app-dialog>
</mat-card>
