header {
  width: 100%;
}

.product__list{
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, .45);

  &__infos {
    color: white;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  &__title {
    text-align: center;
    margin: 20px 0;
    color: #000;
    font-weight: bold;
    width: 100%;
  }

  &__card:not(:last-child) {
    margin-right: 25px;
  }
}

mat-card{
  background: #656565;
}

mat-card-title{
  color: white;
  min-height: 60px;
  font-size: 18px;
}

mat-card-subtitle{
  color: white;
}
.card__product {
  width: auto;

  &:hover .product__img {
    transition: all .2s ease-in-out;
    -webkit-filter: blur(3px) brightness(65%);
    filter: blur(3px) brightness(65%);
  }

  &:hover .story__caption {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.product__img {
  width: 180px;
  height: 180px;
  margin: auto;
  padding: 14px;

}
.product_title{
  width: 180px;
}
.quantity {
  color: white;
}
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 20%);
  transform: translate(-50%, 20%);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.btn_choice {
  padding: 5px 20px;
}

.type__name {
  width: 100%;
}
.view{
  overflow: unset;
}
