<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav [opened]="screenWidth > 900" [mode]="(screenWidth > 900) ?
    'side':'over'">
        <figure class="d-flex justify-content-center m-3">
            <img src="../assets/img/logo.jpg">
        </figure>
        <div class="ojbento" >
            <span class="ojbento__adresse mb-1">3 rue du Général de Gaulle </span>
            <span class="ojbento__adresse mb-1">33480 Castelnau de Médoc</span>
            <div class="d-flex justify-content-center align-items-center">
                <mat-icon class="phone-icon">phone_android</mat-icon>
                <span class="ojbento__phone">05.56.69.92.42 </span>
            </div>
            <span *ngIf="isConnected()">
                - Bonjour {{user.username}} -
            </span>
            <nav>
                <mat-nav-list *ngFor="let type of types" >

                    <a routerLink="/product" routerLinkActive="active" mat-list-item>
                        <span class="menu-text">{{type.name}}</span>
                    </a>
                </mat-nav-list>
                <mat-nav-list>
                <span *ngIf="isConnected()">
                    <a routerLink="/profile" routerLinkActive="active" mat-list-item>
                        <span class="menu-text">Profil</span>
                    </a>
                </span>
                </mat-nav-list>
            </nav>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="headband"></div>
        <mat-toolbar>
            <span *ngIf="screenWidth < 900">
                <button mat-button>
                    <mat-icon>view_headline</mat-icon>
                </button>
            </span>
            <span class="remaining-space"></span>
            <span *ngIf="!isConnected()">
                <button mat-button [routerLink]="['/login']">
                    <span class="infos__co">Connexion</span>
                    <mat-icon class="material-icons-outlined">account_box</mat-icon>
                </button>
            </span>
            <span *ngIf="isConnected()">
                <button class="infos__co" mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>shopping_cart</mat-icon>
                    Panier {{ cart.getTotalQuantity() }}
                </button>
                <mat-menu #menu="matMenu">
                <button mat-button (click)="logout()">
                    <span >Déconnexion</span>
                    <mat-icon class="material-icons-outlined">account_box</mat-icon>
                </button>
                </mat-menu>
            </span>
        </mat-toolbar>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
