<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over" [(opened)]="opened">
      <mat-toolbar color="warn" role="heading">
          <span>
            <button mat-button (click)="sidenav.toggle()">
              <mat-icon>clear</mat-icon>
              <span class="ml-2">Close</span>
            </button>
          </span>
          <span class="remaining-space"></span>
          <span class="mr-5">Paramètres</span>
        </mat-toolbar>
        <nav>
          <mat-nav-list>
            <a [routerLink]="['/product']" routerLinkActive="active" mat-list-item (click)="sidenav.close()">
              <mat-icon matListIcon>fastfood</mat-icon>
              <span>Produits</span>
            </a>
            <a [routerLink]="['/menu']" routerLinkActive="active" mat-list-item (click)="sidenav.close()">
              <mat-icon matListIcon>View_module</mat-icon>
              <span>Menu</span>
            </a>
          </mat-nav-list>
        </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="warn" role="heading">
      <span>
        <button mat-button (click)="sidenav.toggle()">
          <mat-icon>view_headline</mat-icon>
          <span class="ml-3">OJBento</span>
        </button>
      </span>
      <span class="remaining-space"></span>
      <span class="mr-5">Boutique</span>
    </mat-toolbar>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
