.club-logo {
  position: relative;

  &:after {
    content: attr(title);
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0.9em;
    color: color(white);
    line-height: 1em;
    font-weight: bold;
    text-transform: uppercase;
    text-transform: uppercase;
    overflow: hidden;
    margin-top: -0.5em;
  }
}

.club-search {
  position: relative;
  padding: 2em 1em;
  background-color: color(light);
}

.club-description {
  position: relative;
  max-height: 8em;
  overflow: hidden;
  transition: max-height transition();

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    height: 50%;
    transition: opacity transition();

    @include gradient(bottom, fade-out(color(white), 1), fade-out(color(white), 0))
  }

  &.is-open {
    max-height: 100em;

    &:after {
      opacity: 0;
    }
  }
}

.club-ban-upload {
  position: absolute;
  z-index: 5;
  top: 1em;
  left: 1em;
  opacity: 0.6;

  *:hover > &,
  &:hover {
    opacity: 1;
  }
}