<section>
  <header>
      <h2 class="text-center mt-3 mb-3">Mes commandes</h2>
  </header>
  <div class="container-fluid">
    <app-cart-row *ngFor="let row of rows" [cartRow]="row"></app-cart-row>
    <div class="d-flex justify-content-end mr-5">
      <span style="margin-right: 80px;">
        <strong>
          Total:
          {{ cartServ.cart.getPrice() | currency:'EUR':' ':'1.2-2'}} €
        </strong>
      </span>
    </div>
  </div>

<mat-form-field>
    <mat-label>Choisissez votre horaire</mat-label>

    <mat-select  [(ngModel)]="hour">
      <mat-option *ngFor="let time of times" [value]="time.value">
        {{time.hourCommand}}
      </mat-option>
  </mat-select>
</mat-form-field>
  <button (click)="commander()">Commander</button>
</section>
