hr {
  border: 0;
  border-top: 1px solid #8c8c8c;
  border-bottom: 1px solid #fff;
}

.dialog ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dialog figure {
  margin: 0;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.dialog {
  display: flex;
  flex-flow: column;
  justify-content: center;
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 500px;
  width: 90%;
  max-width: 900px;
  background-color: #fff;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);

  &-container {
    display: flex;

    & > div {
      width: 50%;
    }

    & > div:not(:last-child) {
      margin-right: 15px;
    }
  }

  &-headband {
    position: fixed;
    top: 0;
    height: 50px;
    background-color: #cc0000;
    width: 100%;
  }

  &-picture {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-allergens {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
  }

  &-price {
    display: flex;
    justify-content: space-around;
  }
}

.dialog__close-btn {
  border: 0;
  background: none;
  color: white;
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 1.2em;
}

.dialog-list {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
